[django]
debug           = True
secret          = xxxxxxxxxx
allowed_hosts   = *
language_code   = en-us
time_zone       = UTC
static_root     = /data/django-twitch-basic/static
media_root      = /data/django-twitch-basic/media
sqlite_db       = django-twitch-basic-db.sqlite3

[logging]
app_level       = DEBUG
app_handler     = console
django_level    = INFO
django_handler  = console
log_file        = django.log

[database]
name            = database
user            = database
pass            = xxxxxxxxxx
host            = mysql
port            = 3306
