{% extends "main.html" %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">
            <h1>Speedrun Fun</h1>
            <p class="lead">Runners with submitted runs.</p>

            <ul>
                {% for runner in data.runners %}
                    <li><a href="{% url 'home:user' runner.username %}">{{ runner.username }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
