{% extends "main.html" %}
{% block user_active %}active{% endblock %}
{% block title %}Run {{ data.run.title}} by {{ data.user.username }}{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ data.run.title }}</h1>

            <h3>Runner <a href="{% url 'home:runner' data.user.username %}">{{ data.user.username }}</a></h3>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Guess</th>
                    <th scope="col">Offset</th>
                </tr>
                </thead>
                <tbody>
                {% for guess in data.results %}
                    <tr>
                        <td><a href="{% url 'home:user' guess.user %}">{{ guess.user }}</a></td>
                        <td>{{ guess.guess|fmt_seconds }}</td>
                        <td>{{ guess.offset }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
