{% extends "main.html" %}
{% block user_active %}active{% endblock %}
{% block title %}Run {{ data.run.title}} by {{ data.user.username }}{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ data.run.title }}</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Runner</th>
                    <td><a href="{% url 'home:runner' data.user.username %}">{{ data.user.username }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Run Date</th>
                    <td>{{ data.run.created_at }}</td>
                </tr>
                <tr>
                    <th scope="row">Run Duration</th>
                    <td>{{ data.run.duration|fmt_seconds }}</td>
                </tr>
                <tr>
                    <th scope="row">Winners</th>
                    <td>
                    {% if data.run.get_winners %}
                        {{ data.run.get_winners|length }} -
                            {% for winner in data.run.get_winners %}
                                <a href="{% url 'home:user' winner.user.username %}">{{ winner.user.username }}</a> {% if not forloop.last %}, {% endif %}
                            {% endfor %}

                    {% else %}
                        No Winners
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Total Guesses</th>
                    <td>{{ data.run.no_guesses }}</td>
                </tr>
                </tbody>
            </table>

            <h4>User Guesses</h4>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Guess</th>
                    <th scope="col">Offset</th>
                </tr>
                </thead>
                <tbody>
                {% for guess in data.results %}
                    <tr>
                        <td><a href="{% url 'home:user_runner' guess.user data.user.username %}">
                            {{ guess.user }}</a></td>
                        <td>{{ guess.guess|fmt_seconds }}</td>
                        <td>{{ guess.offset|fmt_offset }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
