{% extends "main.html" %}
{% block user_active %}active{% endblock %}
{% block title %}Runs from {{ data.user.username }}{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Runs from {{ data.user.username }}</h1>

            <h3>Runs</h3>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Total Guesses</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>

                {% for run in data.runs %}
                <tr>
                    <th scope="row">{{ run.pk }}</th>
                    <td><a href="{% url 'home:run' data.user.username run.pk %}">{{  run.title }}</a></td>
                    <td>{{  run.duration|fmt_seconds }}</td>
                    <td>{{  run.no_guesses }}</td>
                    <td>{{  run.created_at }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
