{% extends "main.html" %}
{% block user_active %}active{% endblock %}
{% block title %}Guesses by {{ data.user.username }}{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Guesses</h1>

            <h3>by {{ data.user.username }}</h3>

        {% if data.runner %}
            <a href="{% url 'home:user' data.user.username %}" role="button" class="btn btn-sm btn-outline-primary my-1">
                Filtered by <strong>{{ data.runner }}</strong>. Click here to remove the filter.</a>
        {% endif %}

            {% get_result_wins data.user data.runner as wins %}
            <p class="lead">Total Wins: {{ wins|length }}</p>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Runner</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Guess</th>
                    <th scope="col">Offset</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>

                {% for result in data.results %}
                <tr>
                    <th scope="row">{{ result.run.pk }}</th>
                    <td><a href="{% url 'home:run' data.user.username result.run.pk %}">
                        {{ result.run.title }}</a></td>
                    <td><a href="{% url 'home:runner' result.run.user.username %}">
                        {{ result.run.user.username }}</a></td>
                    <td>{{ result.run.duration|fmt_seconds }}</td>
                    <td>{{ result.guess|fmt_seconds }}</td>
                    <td>{{ result.offset|fmt_offset }}</td>
                    <td>{{ result.run.created_at }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
